<ul class="nav nav-list" id="tabbedModules">
    <li class="nav-header">API Modules</li>
{{#each modules}}
    <li><a href="#{{getModuleId title}}" data-toggle="tab"><i class="icon-book"></i> {{title}}</a></li>
{{/each}}
</ul>